.container{
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.calc-display{
    width: 25vw;
    font-size: 48px;
    text-align: right;
}

.calc-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr [col-start]);
    grid-template-rows: repeat(5, 1fr [col-start]);
    height: 500px;    
}

.calc-keys button{
    font-size: 48px;
}

